html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  
}

#result {

}

#map-wrapper {
  max-width: 80%;
  min-width: 40%;
  margin: 20px auto;
  padding: 4px;
  border: 1px solid #CCC;
}


#map-canvas {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}


