html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  
}

#result {

}

#center {
  text-align: center;
}


#map-canvas {
  height: 100%;
  width: 80%;
  position: relative;
  top: 0;
	left: 0;
	overflow: hidden;
}


