html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  margin: 2px;
  padding: 2px;
}

#result {

}

dl {

}

dt,
dd {
  font-size: 18pt;
}

#map-wrapper {
  max-width: 80%;
  min-width: 40%;
  margin: 5px auto;
  padding: 2px;
  border: 1px solid #CCC;
}


#map-canvas {
  position: relative;
  padding-bottom: 80%;
  height: 0;
  overflow: hidden;
}
